body {
  height: 100%;
  width: 100%;
align-items: center;
  margin: 0;
  overflow: hidden;
  background: #00bbf9;
}

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.8);
}
.cir {
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}

.inp{
  top:50%;
  left:30%;
  position: relative;
}

.btn-contain {
  width: 200px;
  height: 100px;
  position: absolute;
  left:40%;
}

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

